# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Root-level ignores
node_modules/
.pnp/
.pnp.js
.DS_Store
.vscode/
*.log

# Client-only ignores
client/node_modules/
client/.pnp/
client/.pnp.js
client/coverage/
client/.env*
client/dist/
client/.vite
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*

# Server-only ignores
server/node_modules/
server/.env*
server/npm-debug.log*
server/yarn-debug.log*
server/yarn-error.log*

# IGNORE this only if NOT serving React from server/build
# BUT in your case, we NEED to keep server/build!
# ❗ So DO NOT include the line below:
# server/build/

# VSCode & workspace settings
folder.md
new-med-app2.code-workspace